
/*desktop*/

.section1 {
    padding: 1em 1em 1em 1em;
}

.section2 {
    padding: 1em 1em 1em 1em;
}

.section3 {
    padding: 1em 1em 1em 1em;
}

.section4 {
    padding: 1em 1em 1em 1em;
}

.medicamento {
    padding: 1em 1em 1em 1em;
    height: 16em;
}

// mobile

@media (max-width:640px) {

    .medicamento {
        height: 100%;
        width: 100%;
    }

}